select
{
    background-position: left 0.75rem center!important;
}


.sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .navbar .dropdown-toggle i, .navbar .sidebar .nav .nav-item .dropdown-toggle i
{
    margin: 0 0.5rem 0 0.5rem!important;
}

.gallery-item
{
    background: #eee;
    padding: 10px;
    margin: 0 0 10px 0!important;
}

.box-thumbnail
{
    width: 200px!important;
}

.box-thumbnail-sm
{
    width: 100px!important;
}
.box-thumbnail-lg
{
    width: 300px!important;
}


td
{
    vertical-align: middle!important;
    text-align: center;
}

th
{
    vertical-align: middle!important;
    text-align: center!important;
}


.plus
{
    color: #4dbd74!important;
    font-size: 24pt;
}

.modal-lg
{
    max-width: 60%!important;
}
